@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Capriola', sans-serif;
}

@font-face {
    font-family: "Arcade";
    src: url("./public/arcade/ARCADE.TTF");
    font-display: block;
  }

   
header {
    display: flex;
    flex-wrap: wrap;
   /*  height: 3rem;  */
    justify-content: center;
    padding: 0.7rem;
    align-items: center;
} 

header > p {
    font-size: 1.5rem;
    
}

#colorBtn {
    border-radius: 1rem;
    padding: 0 1.2rem;
    margin: 0 1.2rem; 
    padding-top: 0.4rem;
    font-size: 2rem;
    font-family: "Arcade";
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}

.maindiv {
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 3rem); */
    display: flex;
    flex-wrap: wrap;
}