/* maindiv.innerHTML = `
    <figure class="pokemoncard"> 
            <img class="${item.image3}" src="${item.image3}">
            <div class="description">
                <h2>${item.name}</h2>
                <p class="indivType">Type: ${item.type}</p>
                <p class="height">${item.height}</p>
                <p class="weight">${item.weight}</p>
            </div>
        </figure> 
    `; */


    .pokemoncard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        
    }
    .pokemoncard h2 {
        text-transform: capitalize;
    }

    .pokemoncard > img {
        filter: saturate(200%);
        height: 20rem;
        width: 20rem;
        
    }

    .pokemoncard > .description {
        background-color: aliceblue;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }